.services{
    padding: 30px 0;
     
 }
 .services-list{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 50px;
    padding: 5%;
   

 }
 .sub-title{
    padding-left: 5%;
 }


.services-list div{
    background: #001840;
    padding: 20px;
    font-size: 13px;
    font-weight: 300;
    border-right: 10px;
    transition:background 0.5s,transform 0.5s;


}
.services-list div i{
      font-size: 50px;
      margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px; 
    color: aliceblue;
}
.services-list p{
    color: aliceblue;

}
.services-list div a{
    text-decoration: none;
    color: antiquewhite;
    font-family: 12px;
    margin-top: 20px;
    display: inline-block;
    

}

.services-list div:hover{
    background: rgb(95, 155, 155);
    teansform:translateY(-10px);
}


/* Mobile Responsiveness */
@media screen and (max-width: 768px) {
    .services {
        padding: 20px 0;
    }

    .services-list {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 20px;
        padding: 10%;
    }

    .services-list div {
        padding: 15px;
        font-size: 12px;
    }

    .services-list div i {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .services-list div h2 {
        font-size: 24px;
    }

    .services-list p {
        font-size: 12px;
    }

    .services-list div a {
        font-size: 10px;
    }
}

/* Extra Small Screens */
@media screen and (max-width: 480px) {
    .services {
        padding: 15px 0;
    }

    .services-list {
        grid-template-columns: 1fr; /* Single column layout */
        grid-gap: 15px;
    }

    .services-list div {
        padding: 10px;
        font-size: 11px;
    }

    .services-list div i {
        font-size: 35px;
        margin-bottom: 15px;
    }

    .services-list div h2 {
        font-size: 20px;
    }

    .services-list p {
        font-size: 10px;
    }

    .services-list div a {
        font-size: 9px;
    }
}